
.сontainer {
    width: 1500px;
    height: 590px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

img {
  display: none;
}
 
.slides img {
  width: 100%;
  height: 100%;
}

.block {
  display: block;  
}

div.previous,
div.next {
  padding: 15px;
  cursor: pointer;
  opacity: 0.6;
  content: "\260E";
  font-size: 70px;
  display: inline-block;
}

div.previous:hover,
div.next:hover {
  opacity: 1.0;
}
  
.slides {
  display: inline-block;
  width: 1000px;
  height: 500px;
  text-align: center;
}

div.slider-dots {
  width: 100%;
  height: auto;
  margin-top: 10px;
  text-align: center;
}

span.classdot {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  padding: 0;
  display: inline-block;
  background-color: #BBB;
  border-radius: 5px;
  cursor: pointer;
}